*, *::before, *::after {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} 

body { 
  font-family: Arial, sans-serif; 
  width: 100%; 
  min-height: 100vh; 
  background: linear-gradient(90deg, #b045f3, #3b49ca); 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.container {
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  border: 0.125rem solid #fff;
  width: 100%;
  max-width: 31.25rem;
  padding: 1.25rem;
}

.mess {
  font-size: 0.9375rem;
  margin-bottom: 0.625rem;
  margin-top: 1.25rem;
  font-weight: bold;
}

.hint {
  font-size: 0.9375rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

input {
  padding: 0.625rem;
  width: 100%;
  max-width: 4.375rem;
  height: 4.375rem;
  border: 0.125rem solid #5709aa;
  border-radius: 0.125rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  text-align: center;
  color: #5709aa;
}

button {
  padding: 0.625rem 1.875rem;
  font-weight: bold;
  background-color: #6b29b3;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  margin-bottom: 1.875rem;
  cursor: pointer;
}

button:hover {
  background-color: #511d8d; 
}

#message1 {
  padding-bottom: 0.3125rem;
}

#message2 {
  padding-bottom: 1.25rem;
}

#feedback {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.75rem;
}